<mat-toolbar class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">
      <img src="../../assets/logo/logo.png" alt="SamajSewa Logo" class="logo" />
      <span id="title">SamajSewa</span>
    </a>
  </div>
</mat-toolbar>

<div class="home-container">
  <div class="hero">
    <h1>Welcome to SamajSewa</h1>
    <p>
      Your one-stop platform for organizing and participating in community
      activities.
    </p>
    <button mat-raised-button class="custom-button" routerLink="/register">
      Join Now
    </button>
  </div>
  <div class="details-section">
    <mat-card class="feature-card">
      <mat-card-header>
        <mat-icon>group</mat-icon>
        <mat-card-title>Community Activities</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Discover and participate in various community activities happening in
          your area.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card">
      <mat-card-header>
        <mat-icon>assignment</mat-icon>
        <mat-card-title>Organize Events</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Create and manage activities, invite participants, and contribute to
          the community.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card">
      <mat-card-header>
        <mat-icon>notifications</mat-icon>
        <mat-card-title>Stay Informed</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Receive notifications about upcoming events, activity updates, and
          community news.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
