h2{
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    color: #b81111;
}
.container {
    max-width: 800px;
  }
  
  .card-title {
    font-weight: bold;
    color: #333;
  }
  
  .card-text {
    margin-bottom: 0.5rem;
  }
  
  button {
    margin-top: 1rem;
  }
  